## Variables in python
In Python, variables are used to store data. A variable is created when you assign a value to it using the " = " operator. Python variables do not require explicit declaration and can hold different data types.

Rules for Python Variables:

Variable names must start with a letter or an underscore (_), but cannot start with a number.

The rest of the variable name can consist of letters, numbers, and underscores.

Variable names are case-sensitive (myVariable and myvariable are different).

In [10]:
x = 10            # Integer
name = "Alice"     # String
pi = 3.14         # Float
is_active = True   # Boolean


## Dynamic Typing
Python is dynamically typed, meaning the type of a variable is determined at runtime, and you can change the value and type of a variable.

In [11]:

x = 10            # Integer
x = "Now a string" # Now it's a string

## Multiple Assignments
You can assign values to multiple variables at once:

In [13]:

a, b, c = 1, 2, 3

## Swapping Values
In Python, you can swap variables without a temporary variable:

In [14]:
x, y = 5, 10
x, y = y, x  # Now x is 10 and y is 5

## Checking Variable Type
To check the type of a variable, use the type() function:

In [15]:
x = 42
print(type(x))  # Output: <class 'int'>

<class 'int'>

## ----> Basic data types in python
In Python, there are several basic data types (or primitive types) that are commonly used to store different kinds of values. Here are the main ones:

## Integer (int)
Represents whole numbers (positive, negative, or zero) without decimal points.

Type: int

Range: Arbitrarily large (unlike many languages with fixed-size integers).

In [1]:
age = 25
temperature = -10

## Floating Point Number (float)
Represents real numbers with decimal points (i.e., numbers that have a fractional part).

Type: float

In [2]:
pi = 3.14159
height = 5.8

## String (str)
A sequence of characters (text). Strings are enclosed in single (') or double (") quotes.

Type: str

Strings are immutable, meaning once created, they cannot be modified.

In [3]:
name = "Alice"
greeting = 'Hello, world!'

## Boolean (bool)
Represents one of two values: True or False. Type: bool

In [4]:
is_active = True
has_permission = False

## None (NoneType)
Represents the absence of a value or a null value.

In [6]:

result = None

## Complex Numbers (complex)
Represents complex numbers (numbers with a real and an imaginary part)

Type: complex

The imaginary part is denoted by j.

In [7]:
z = 3 + 4j

## Checking Data Types
You can use the type() function to check the data type of a variable:

In [8]:

x = 10
print(type(x))  # Output: <class 'int'>

y = 3.14
print(type(y))  # Output: <class 'float'>

<class 'int'>
<class 'float'>

## Type Conversion (Casting)
You can convert between data types using casting functions:

int(): Convert to integer

float(): Convert to float

str(): Convert to string

bool(): Convert to boolean

In [9]:

x = 5.67
y = int(x)  # y becomes 5 (float to int conversion)

z = str(100)  # z becomes "100" (int to string conversion)

## Operator in python
In Python, operators are used to perform operations on variables and values. They can be categorized into several types:

In [ ]:
## Arithmetic Operators
'''Used for mathematical operations.

Operator	                 Description	                   Example
+	                          Addition                      	x + y
	                      
-	                          Subtraction	                    x - y
                        
*	                          Multiplication	                x * y
	                      
/	                          Division	                        x / y

%	                          Modulus (remainder)	            x % y

**	                          Exponentiation	                x ** y (x raised to the power y)

//	                          Floor Division	                x // y (division that rounds down)'''

In [17]:
x = 10
y = 3
print(x + y)   # Output: 13
print(x / y)   # Output: 3.333...
print(x // y)  # Output: 3 (floor division)
print(x % y)   # Output: 1
print(x ** y)  # Output: 1000

13
3.3333333333333335
3
1
1000

In [ ]:
''' Comparison (Relational) Operators
Used to compare values and return a Boolean result (True or False).

Operator	       Description	          Example
==	                Equal to	          x == y
!=	                Not equal to	      x != y
>	                Greater than	      x > y
<	                Less than	          x < y
>=	                Greater than
                    or equal to	          x >= y
<=	                Less than or  
                    equal to	          x <= y   '''

In [18]:
x = 5
y = 10
print(x > y)   # Output: False
print(x <= y)  # Output: True
print(x != y)

False
True
True

In [ ]:
''' Assignment Operators
Used to assign values to variables.

Operator	               Description                  	Example
=	                       Assigns value	                 x = 5
+=	                       Add and assign	                 x += 3 (x = x + 3)
-=	                       Subtract and assign	             x -= 3 (x = x - 3)
*=	                       Multiply and assign	             x *= 3
/=	                       Divide and assign	             x /= 3
%=	                       Modulus and assign	             x %= 3
**=	                       Exponentiation and assign	     x **= 3
//=	                       Floor division and assign	     x //= 3'''

In [ ]:
x = 5
x += 3  # x becomes 8
x *= 2  # x becomes 16

In [ ]:
'''Logical Operators
Used to combine conditional statements. They return a Boolean result.

Operator	                      Description	                                     Example
and	                    True if both conditions are true	                    x < 5 and x < 10
or	                    True if at least one condition is true	                x < 5 or x > 10
not	                    Reverses the result (True becomes False, and vice versa)	not(x < 5)'''

In [ ]:
x = 5
print(x > 3 and x < 10)  # Output: True
print(x > 6 or x < 3)    # Output: False
print(not(x > 3))        # Output: False

In [ ]:
'''Bitwise Operators
Used to perform bit-level operations.

Operator	       Description	          Example
&	              Bitwise AND	           x & y
`	                    `	             Bitwise OR
^	                Bitwise XOR         	x ^ y
~	               Bitwise NOT 	             ~x
<<	                 Left Shift	           x << y
>>	               Right Shift	           x >> y '''

In [19]:
x = 4  # Binary: 100
y = 3  # Binary: 011
print(x & y)  # Output: 0 (Binary AND)
print(x | y)  # Output: 7 (Binary OR)
print(x ^ y)  # Output: 7 (Binary XOR)

0
7
7

In [ ]:
''' Membership Operators
Used to check if a value exists within a sequence (like strings, lists, tuples).

Operator	            Description                    	Example
in	                   True if a value is present	     x in y
not in	               True if a value is not present	x not in y'''

In [20]:
x = "hello"
print("h" in x)  # Output: True
print("z" not in x)  # Output: True

True
True

In [ ]:

''' Identity Operators
Used to compare the memory locations of two objects.

Operator	                   Description	                                         Example
is	               True if both objects refer to the same memory location	          x is y
is not	           True if both objects do not refer to the same memory location	  x is not y'''

In [21]:
x = [1, 2, 3]
y = x
z = [1, 2, 3]
print(x is y)   # Output: True (y references the same object as x)
print(x is z)   # Output: False (x and z are different objects with the same values)

True
False