## list
. list are ordered, mutable collection of items

. they can contain items of different data types

1. introduction to list
2. creating list
3. acessing list elements
4. modifying list elements
5. list methods
6. slicing lists
7. iterating over lists
8. list comprehensions
9. nested lists
10. practical example and common error

In [6]:
##creating list
##You can create a list by placing items inside square brackets [], separated by commas.
names =["krish",5,"keshav"]

In [2]:
print(names)

['krish', 5, 'keshav']

In [3]:
##Accessing Elements:
##You can access list elements using their index. The first element has index 0.

fruits =["appple","bannana","kivi","cherry"]

In [5]:
print(fruits[0])

appple

In [7]:
fruits[1:3]

['bannana', 'kivi']

In [8]:
##modifying list elements:
##Modifying a List: Since lists are mutable, you can modify them after creation
fruits[1]="watermelon"

In [9]:
print(fruits)

['appple', 'watermelon', 'kivi', 'cherry']

In [11]:
##Adding Elements:
## append() adds a single element to the end of the list.
## extend() adds multiple elements to the list.
## insert() adds an element at a specific position.

fruits.append("guava")
fruits.insert(1,"pomegranate")

In [12]:
fruits

['appple', 'pomegranate', 'watermelon', 'kivi', 'cherry', 'guava', 'guava']

In [ ]:
##Removing Elements:
##remove() removes the first occurrence of a value.
##pop() removes an element at a specific index or the last element if no index is specified.
##clear() removes all elements from the list

In [13]:
fruits.remove("appple")

In [15]:
fruits.pop() # Removes the last element

'guava'

In [16]:
fruits.pop(0) # Removes element at index 1

'pomegranate'

In [21]:
fruits.clear() # Removes all elements from the list

In [20]:
fruits

[]

In [22]:
fruits =["appple","bannana","kivi","cherry"]

In [23]:
fruits.sort() ##sort list in ascending order

In [24]:
fruits.reverse() ##reverse  the list

In [25]:
##Slicing a List:
##You can get a sublist by slicing the list
## double colon :: is step size 

print(fruits[1:4])  # Output:  (from index 1 to 3)
print(fruits[:3])  # Output:  (from the start to index 2)
print(fruits[3:])  # Output:  (from index 3 to the end)

['cherry', 'bannana', 'appple']
['kivi', 'cherry', 'bannana']
['appple']

In [26]:
## list iteration 
##1
##You can iterate over a list using a for loop:

my_list = [10, 20, 30, 40, 50]

for item in my_list:
    print(item)

10
20
30
40
50

In [27]:
##2.
##Using for Loop with Index
##You can also access both the index and the element using range() and len():

for i in range(len(my_list)):
    print(f"Index: {i}, Value: {my_list[i]}")

Index: 0, Value: 10
Index: 1, Value: 20
Index: 2, Value: 30
Index: 3, Value: 40
Index: 4, Value: 50

In [28]:
##Using enumerate()
##The enumerate() function provides both the index and the value directly.

for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: 10
Index: 1, Value: 20
Index: 2, Value: 30
Index: 3, Value: 40
Index: 4, Value: 50

In [30]:
##5
## Using List Comprehension
##You can also iterate over a list and apply some operation using list comprehension
squares = [x**2 for x in my_list]
print(squares)

### basic syntax               [expression for item in iterable]
## with conditional logic      [expression for item in iterable if condition]
## nested  list comphrehension  [expression for item1 in iterable1 for item2 in iterable  ]

[100, 400, 900, 1600, 2500]

In [31]:
### basic list comphrehension

square = [num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
## list comphrehension with condition
lst = []
for i in range(10):
    if i % 2 == 0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [36]:
### nested list comphrehension 
lst1 = [1,2,3,4]
lst2 = ['a','b','c']
pair= [[i,j] for i in lst1 for j in lst2]

In [37]:
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [2, 'a'], [2, 'b'], [2, 'c'], [3, 'a'], [3, 'b'], [3, 'c'], [4, 'a'], [4, 'b'], [4, 'c']]

In [39]:
## list comphrehension with function calls

words = ["heelo", "keshav", "tyagi"]
lengths = [len(word) for word in words]
print(lengths)

[5, 6, 5]

## tupels

1. introduction to tuples
2. creating tuples
3. accessing tuples elements
4. tuple operations
5. immutable nature of tuples
6. tuple moments
7. packaging and unpackaging tuples
8. nested tuples
9. practical examples and common errors

In [40]:
##
## In Python, a tuple is an immutable, ordered collection of items. Tuples can hold elements of different types, including numbers, strings, lists, or even other tuples. Once a tuple is created, you cannot modify its elements, which distinguishes it from lists.

In [42]:
##
#Creating a Tuple
##You can create a tuple by placing items inside parentheses (), separated by commas.

# Creating a tuple
my_tuple = (1, 2, 3)
mixed_tuple = (1, "Hello", 3.5, (2, 4))  # A tuple with different data types
empty_tuple = ()  # An empty tuple
single_element_tuple = (1,)  # A single element tuple (note the comma)

In [43]:
##Accessing Elements
##You can access tuple elements using their index. The first element has index 0

print(my_tuple[0])  # Output: 1
print(mixed_tuple[1])  # Output: "Hello"

1
Hello

In [44]:
##Slicing a Tuple
##You can slice a tuple to get a sub-tuple.
print(my_tuple[1:3])  # Output: (2, 3)
print(mixed_tuple[:2])  # Output: (1, "Hello")

(2, 3)
(1, 'Hello')

In [45]:
### tuple operations
##You can concatenate two or more tuples using the + operator.
tup1 = (1, 2)
tup2 = (3, 4)
combined = tup1 + tup2
print(combined)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

In [46]:
## Repeating Tuples
##You can repeat a tuple using the * operator.
tup = (1, 2)
repeated = tup * 3
print(repeated)  # Output: (1, 2, 1, 2, 1, 2)

(1, 2, 1, 2, 1, 2)

In [47]:
##Tuples and Immutability
##Tuples are immutable, meaning you cannot change, add, or remove elements after the tuple is created.
my_tuple[0] = 10  # This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

In [48]:
###Tuple Methods
##Tuples have a few built-in methods:

##count(): Returns the number of times a specified value appears in the tuple.
##index(): Returns the index of the first occurrence of a specified value.
tup = (1, 2, 3, 2, 1)

print(tup.count(1))  # Output: 2
print(tup.index(3))  # Output: 2

2
2

In [49]:
## packaging and unpackaging tuple
## packing
packed_tuple = 1,"hello",3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [52]:
## unpacking a tuple 
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [53]:
## unpacking with * 
numbers = (1,2,3,4,5)
first,*middle,last=numbers
print(first)
print(*middle)
print(last)

1
2 3 4
5

In [55]:
##nested list 
lst =[[1,2,3,4],[6,7,8,9],[2,'keshav',4,6]]
lst[2][3]

6

In [56]:
##nested tuple 
nested_tuple=((1,2,3),("a","b","c"),(9,8,76))
print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'), (9, 8, 76))

In [57]:
nested_tuple[0]

(1, 2, 3)

In [58]:
nested_tuple[0][2]

3

In [61]:
## iterating of nested tuple

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end="")
    print()

123
abc
9876

## sets in pythom
1. create a set
2. adding and removing
3. set operation
4.

In [1]:
# Creating a set with elements
my_set = {1, 2, 3, 4}
print(my_set)

# Creating an empty set (you must use the set() function, as {} creates an empty dictionary)
empty_set = set()
print(empty_set)

{1, 2, 3, 4}
set()

In [2]:
## Adding Elements
##You can add elements to a set using the add() method. Since sets only allow unique elements, adding a duplicate won’t have any effect.
my_set.add(5)
print(my_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [3]:
## removing elements 
## You can remove elements using the remove() or discard() methods. The difference is that remove() raises an error if the element is not present, whereas discard() does not.
my_set.remove(3)  # Removes the element 3
print(my_set)  # Output: {1, 2, 4, 5}

my_set.discard(6)  # No error, even if 6 is not in the set

{1, 2, 4, 5}

In [4]:
#pop method
my_set.pop()

1

In [5]:
my_set

{2, 4, 5}

In [6]:
my_set.clear()

In [7]:
my_set

set()

In [9]:
my_set = {1, 2, 3, 4}

In [10]:
##Set Operations
##Python provides several methods to perform operations on sets, such as union, intersection, difference, and symmetric difference.

In [11]:
## Union: Combines elements from both sets (without duplicates).

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [12]:
##Intersection: Returns elements common to both sets.
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

{3}

In [13]:
##Difference: Returns elements present in the first set but not in the second.
difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

{1, 2}

In [14]:
## Symmetric Difference: Returns elements that are in either of the sets but not in both.
sym_diff_set = set1.symmetric_difference(set2)
print(sym_diff_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

In [15]:
## sets method 
set1={1,2,3}
set2={3,4,5}
## is subset
print(set1.issubset(set2))

## is superset 
print(set1.issuperset(set2))

False
False

In [16]:
## counting unique words in text
text = "in this tutorial we are discussing about sets"
words =text.split()
## convert list of words to set to get unique words 
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'about', 'are', 'in', 'we', 'sets', 'tutorial', 'this', 'discussing'}
8

## dictionaries in python 
1. introduction
2. creating dictionaries
3. accessing
4. dictionary methods
5. nested dictionary
6. dictionary comprehensions
7. practical examples and common errors

In [ ]:
## 
##In Python, a dictionary is a collection of key-value pairs. It is an unordered, mutable, and indexed data structure, and it allows for fast lookups by key

In [17]:
# Example dictionary
my_dict = {
    "name": "John",
    "age": 25,
    "city": "New York"
}
print(my_dict)  # Output: {'name': 'John', 'age': 25, 'city': 'New York'}

# Creating an empty dictionary
empty_dict = {}

## single key is always used

{'name': 'John', 'age': 25, 'city': 'New York'}

In [18]:
##Accessing Values
##You can access the value associated with a specific key by using the key inside square brackets [].

# Accessing values
print(my_dict["name"])  # Output: John
print(my_dict["age"])  # Output: 25

John
25

In [19]:
##Alternatively, you can use the get() method, which returns None (or a default value) if the key is not found, rather than raising an error.
print(my_dict.get("name"))  # Output: John
print(my_dict.get("country", "Unknown"))  # Output: Unknown

John
Unknown

In [20]:
##Adding or Updating Elements
##You can add a new key-value pair or update an existing one by using the assignment operator =.

# Adding a new key-value pair
my_dict["country"] = "USA"
print(my_dict)  # Output: {'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

# Updating an existing key-value pair
my_dict["age"] = 26
print(my_dict)  # Output: {'name': 'John', 'age': 26, 'city': 'New York', 'country': 'USA'}

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}
{'name': 'John', 'age': 26, 'city': 'New York', 'country': 'USA'}

In [21]:
##Removing Elements
##You can remove elements from a dictionary using various methods:
1.
##pop(): Removes the key and returns its value. Raises a KeyError if the key is not found

age = my_dict.pop("age")
print(age)  # Output: 26
print(my_dict)  # Output: {'name': 'John', 'city': 'New York', 'country': 'USA'}

26
{'name': 'John', 'city': 'New York', 'country': 'USA'}

In [22]:
## 2. popitem(): Removes and returns the last inserted key-value pair (since Python 3.7, dictionaries are ordered).

last_item = my_dict.popitem()
print(last_item)  # Output: ('country', 'USA')
print(my_dict)  # Output: {'name': 'John', 'city': 'New York'}

('country', 'USA')
{'name': 'John', 'city': 'New York'}

In [23]:
## del: Deletes a specific key or the entire dictionary.
del my_dict["city"]
print(my_dict)  # Output: {'name': 'John'}

# del my_dict  # Deletes the entire dictionary

{'name': 'John'}

In [24]:
##clear(): Removes all key-value pairs from the dictionary.

my_dict.clear()
print(my_dict)  # Output: {}

{}

In [25]:
## dictionary method 
##Dictionary Methods
### keys(): Returns all the keys in the dictionary.
### values(): Returns all the values in the dictionary.
### items(): Returns a list of key-value pairs as tuples

my_dict = {"name": "Alice", "age": 30, "city": "Paris"}

# Getting all keys
keys = my_dict.keys()
print(keys)  # Output: dict_keys(['name', 'age', 'city'])

# Getting all values
values = my_dict.values()
print(values)  # Output: dict_values(['Alice', 30, 'Paris'])

# Getting all items (key-value pairs)
items = my_dict.items()
print(items)  # Output: dict_items([('name', 'Alice'), ('age', 30), ('city', 'Paris')])

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 30, 'Paris'])
dict_items([('name', 'Alice'), ('age', 30), ('city', 'Paris')])

In [26]:
### shallow copy
my_dict_copy=my_dict
print(my_dict)
print(my_dict_copy)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}
{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [28]:
my_dict["name"]="keshav"
print(my_dict)
print(my_dict_copy)

{'name': 'keshav', 'age': 30, 'city': 'Paris'}
{'name': 'keshav', 'age': 30, 'city': 'Paris'}

In [29]:
my_dict_copy1 = my_dict.copy() ##shallow copy
print(my_dict)
print(my_dict_copy1)

{'name': 'keshav', 'age': 30, 'city': 'Paris'}
{'name': 'keshav', 'age': 30, 'city': 'Paris'}

In [30]:
my_dict_copy1["name"]= "dinesh"
print(my_dict)
print(my_dict_copy1)

{'name': 'keshav', 'age': 30, 'city': 'Paris'}
{'name': 'dinesh', 'age': 30, 'city': 'Paris'}

In [31]:
## iterating over dictionary 
### Looping Through a Dictionary
## You can iterate through a dictionary using a for loop to access keys, values, or key-value pairs.


# Iterating through keys
for key in my_dict:
    print(key)

# Iterating through values
for value in my_dict.values():
    print(value)

# Iterating through key-value pairs
for key, value in my_dict.items():
    print(f"{key}: {value}")

name
age
city
keshav
30
Paris
name: keshav
age: 30
city: Paris

In [32]:
##Dictionary Comprehension
##Like list comprehensions, Python allows dictionary comprehensions to create dictionaries in a more compact way.
# Example: Create a dictionary with numbers and their squares
squares = {x: x**2 for x in range(1, 6)}
print(squares)  # Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [33]:
## nested dictionaries
students={"student1":{"name":"tyagi","age":32},
          "student2":{"name":"dinesh", "age":56}}
print(students)

{'student1': {'name': 'tyagi', 'age': 32}, 'student2': {'name': 'dinesh', 'age': 56}}

In [36]:
## access nested dictionary elements
(students["student1"]["name"])

'tyagi'

In [38]:
## iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key , value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'tyagi', 'age': 32}
name:tyagi
age:32
student2:{'name': 'dinesh', 'age': 56}
name:dinesh
age:56

In [39]:
## merge two dictionary 

dict1 ={"a":1,"b":2}
dict2= {"c":5 ,"d":6}

merged_dict= {**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 5, 'd': 6}